<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rampant Habit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Cleanse bad habits, create new ones</h1>
    <form action="/addHabit" method="POST">
        <input type="text" placeholder="name" name="name">
        <br>
        <input type="radio" name="habit" value="Good">
            <label for="Good">Good</label><br>
        <input type="radio" name="habit" value="Bad">
            <label for="Bad">Bad</label><br>
        <button type="submit">Submit</button>
    </form>
    <h2>My Habits</h2>

    <ul class="habits">
        <!-- Loop through habits -->
        <% for(var i = 0; i < info.length; i++) {%>
        <li class="habit">
            <span><%= info[i].name %></span>:
            <span><%= info[i].habit %></span>
            <span class='fa fa-trash'></span>
        </li>
        <% } %>
    </ul>


    <script src="js/main.js"></script>
</body>

</html>