<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rampant Habit</title>
</head>

<body>
    <h1>Cleanse bad habits, create new ones</h1>
    <form action="/habits" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="habit" name="habit">
        <button type="submit">Submit</button>
    </form>
    <h2>My Habits</h2>
    <ul class="habits">
        <!-- Loop through habits -->
        <% for(var i = 0; i < habits.length; i++) {%>
        <li class="habit">
            <!-- Output name from the iterated quote object -->
            <span><%= habits[i].name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= habits[i].habit %></span>
        </li>
        <% } %>
    </ul>
    <%= habits %>
</body>

</html>