h1, h2 {
    color: #f7dcad;
    font-family: 'DM Serif Display', serif;
}

body header nav {
    color: #e7a339;
    font-family: 'DM Serif Display', serif;
}

body {  
    background-color: #4aafd5; 
    color: white;
    font-family: 'Roboto', sans-serif;
}